<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>566835424296-a3jmba8j43ue3dle3a15hb7id08sb6ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566835424296-a3jmba8j43ue3dle3a15hb7id08sb6ao</string>
	<key>API_KEY</key>
	<string>AIzaSyCnLphDnvC5hK4OB2EvK3Nl7vtqEw8__j8</string>
	<key>GCM_SENDER_ID</key>
	<string>566835424296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Thitiwat.IOSLab5</string>
	<key>PROJECT_ID</key>
	<string>ioslab5-b3e89</string>
	<key>STORAGE_BUCKET</key>
	<string>ioslab5-b3e89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:566835424296:ios:86ad382be01e38fa</string>
	<key>DATABASE_URL</key>
	<string>https://ioslab5-b3e89.firebaseio.com</string>
</dict>
</plist>